<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><strong>#tagREDDIT</strong></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
</head>

<body> <!--background="./travel.jpg">-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Reddit-Tags</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
     </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">About</a>
        </li>

        </ul>
    </div>
    </nav>




<br/>
<br/>
<br/>
    <div class="container">
        <h3>Reddit Insights: What are the topics people are talking about?</h3>

        <!--<img src="./meru.jpg" alt="Trulli" width="500" height="333">-->
        Reddit has various communities and its hard to keep up with the community.
        <li><b>Get topics people are talking about in a particular subreddit</b>: Analyze a set of text sentences and return
        topics, and entities.</li>
        <li><b>Get list of posts having that topic</b>: Generate list of Reddit submission which contains that keyword
        people are talking about</li>
        <br/>

        <form method="POST" action="/redditinsight/">

                <!-- Selection Boxes-->
                <label><strong>Select Subreddit Name</strong></label>
            <select class="form-control" name="taskoption1">
			    <option selected>Please select</option>
			    <option value=worldpolitics>worldpolitics</option>
			    <option value=howto>howto</option>
			    <option value=Pets>Pets</option>
                <option value=history>history</option>
                <option value=food>food</option>
                <option value=Anarchism>Anarchism</option>
                <option value=Christianity>Christianity</option>
            </select>

                <label><strong>Select Year</strong></label>
            <select class="form-control" name="taskoption2">
			    <option selected>Please select</option>
			    <option value=2008>2008</option>
			    <option value=2009>2009</option>
			    <option value=2010>2010</option>
                <option value=2011>2011</option>
                <option value=2012>2012</option>
                <option value=2013>2013</option>
                <option value=2014>2014</option>
            </select>


                <label><strong>Select Month</strong></label>
            <select class="form-control" name="taskoption3">
			    <option selected>Please select</option>
			    <option value=1>1</option>
			    <option value=2>2</option>
			    <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
            </select>

			<br/>

            <button type="gettags" class="btn btn-info"><i class="fa fa-database"></i>Get Tags</button>
            <br/>
            <br/>


            <!--<button type="getlinks" class="btn btn-info"><i class="fa fa-database"></i> getlinks</button> -->

        </form>

        </div>

    <div class="container">
        <div class="alert alert-success" role="alert">
        <!--<p class="alert-heading"><label><strong>Results</strong></label></p> handle_elasticsearch-->

        <p><strong>Subreddit Tags:{{num_of_results}}</strong></p>
        <ul>{%for i in results%}</ul>
            <button type="button"  class="btn btn-primary"><li>{{i}}</li></button>
        	{% endfor %}

                    <form method="POST" action="/redditinsight/get_tags">
            <p><strong>Subreddit Posts:{{num_of_results_links}}</strong></p>
            <ul>{% for i in results_links %}
                <li>{{i}}</li>
        	{ % endfor %}
    	    </ul>
        </form>


        </div>
    </div>






<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery-2.1.4.js"></script>

</body>
</html>